-#%p#notice= notice
#notice.alert.alert-primary= notice
%h1 Users
%table
  %thead
    %tr
      %th Name
      %th Account
      %th Password
      %th Rfid
      %th Role
      %th{:colspan => "3"}
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.account
        %td= user.password
        %td= user.rfid
        %td= user.role
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New User', new_user_path
