= form_with(model: item, local: true, class: "container") do |form|
  .row
    .col-3
      = image_tag(item.item_image.url || "http://via.placeholder.com/300x300", class: "img-thumbnail")
      %br/
      %br/
      = form.file_field :item_image, class: "form-control-file"
      .text-center
        = link_to item do
          %button.btn.btn-secondary
            = fa_icon "arrow-left"
            返回
        = form.button :submit, class: "btn btn-success" do
          = fa_icon "check"
          - if action_name == "new"
            新增
          - else
            更新
      - if item.errors.any?
        #error_explanation
          %h2
            = pluralize(item.errors.count, "error")
            prohibited this item from being saved:
          %ul
            - item.errors.full_messages.each do |message|
              %li= message
      %div{style: "display:none"}= form.text_field :location
      %div{style: "display:none"}= form.number_field :main_image_id
    .col-9
      %table.table.table-bordered.table-light.table-hover.table-striped
        %thead.thead-dark
          %tr
            %th{style: "width: 20%"}
              = fa_icon "archive"
              物品
            %th{style: "width: 80%"}= form.text_field :name, class: "form-control form-control-sm", placeholder: "名稱"
        %tbody
          %tr
            %th
              = fa_icon "sitemap"
              分類
            %td= form.text_field :category, class: "form-control form-control-sm", placeholder: "分類"
          %tr
            %th
              = fa_icon "user"
              擁有人
            %td= select("item", "owner_id", User.all.collect {|u| [ u.name, u.id ] }, {}, {class: "form-control form-control-sm"})

          %tr
            %th
              = fa_icon "map-marker"
              所在地
            %td= form.text_field :location, class: "form-control form-control-sm", placeholder: "地點"
          %tr
            %th
              = fa_icon "user-circle"
              使用人
            %td= select("item", "holder_id", User.all.collect {|u| [ u.name, u.id ] }, { include_blank: true }, {class: "form-control form-control-sm"})
          %tr
            %th
              = fa_icon "info-circle"
              詳細資訊
            %td= form.text_area :detail, class: "form-control form-control-sm", placeholder: "詳細資訊"
