%header.inventory-header
  .container
    %p#notice= notice
    %h1.font-weight-normal.display-3.text-center 庫存 - 列表
    %table.table.table-bordered.table-light.table-hover
      %thead.thead-dark
        %tr
          %th 照片
          %th 名稱
          %th 分類
          %th 擁有人
          %th 當下狀態
          %th 使用人
          %th 詳細資訊
          %th{:colspan => "3"}
      %tbody
        - @items.each do |item|
          %tr
            %td= image_tag("http://via.placeholder.com/60x45")
            %td= item.name
            %td= item.category
            %td= item.owner.try(:name)
            %td= item.status
            %td= item.holder.try(:name)
            %td= item.detail
            %td
              = link_to item do
                %button.btn.btn-info
                  = fa_icon "search"
              = link_to edit_item_path(item) do
                %button.btn.btn-primary
                  = fa_icon "pencil"
              = link_to item, method: :delete, data: { confirm: '確定要刪除這個物品嗎？' } do
                %button.btn.btn-danger
                  = fa_icon "times"
    %br/
    .text-center
      = link_to new_item_path do
        %button.btn.btn-success.btn-lg
          = fa_icon "plus"
          新增物品
